ul {
    list-style-type: none;
}

.no-header th{
    display: none;
}

.arr-row {
    padding-bottom: 20px;
}

#canvas-card {
    transition: 0.3s;
    border: 1px solid black;
    margin: 0px;
}

#canvas-card:hover{
    box-shadow: 5px 4px rgba(0,0,0,0.5)

}

#sheetmp3 {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
}

.sheet-info li{
    padding-bottom: 15px;
}

.small-canvas {
    max-width:100%;
    height: auto;
}

