ul {
    list-style-type: none;
}

.no-header th{
    display: none;
}

.arr-row {
    padding-bottom: 20px;
}

#canvas-card {
    transition: 0.3s;
    border: 2px solid black;
    margin: 0px;
}

#info-col {
    padding-left: 10px;
    margin-left: 0px;
}

#canvas-card:hover{
    box-shadow: 5px 4px rgba(0,0,0,0.5)

}

.small-canvas {
    max-width:100%;
    height: auto;
}

