
.arr-row {
    padding-bottom: 20px;
}

#canvas-card {
    transition: 0.3s;
    margin: 0px;
}

#canvas-card:hover{
    box-shadow: 5px 4px rgba(13, 13, 13, 0.5);
    border: 0.5px solid black;

}


#sheetmp3 {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
}

.sheet-info li{
    padding-bottom: 15px;
}

.small-canvas {
    max-width:100%;
}

:root {
    --bs-navy: rgb(27, 27, 177);
}

.bg-navy {
    background-color: var(--bs-navy);
}