<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aaron Teng's music website, Computer Science & Music nerd. A cappella arrangements, original classical compositions">
  
    <title>Aaron Teng | Music Website | Contact</title>

    <link rel="stylesheet" href="{% static 'sheetmusic/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Iceberg&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm bg-primary-subtle" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-primary-emphasis" href="#" style="font-family:Iceberg">Cappella Catalogue</a>
            <button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#site_navbar" aria-controls="site_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="site_navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primary-subtle" href="https://ar1s1502.github.io/PersonalSite/" target="_blank">About Me</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-primary-subtle"  aria-current="page" href="{% url 'index' %}">Sheet Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary-subtle" href="{% url 'contact' %}">Inquiries</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   {% if msg %}
        <div class="alert" id="checkout_banner" style="display:none"> 
            <h4 class="alert-heading" id="banner_header">{{msg}}</h4>
            {% if error_dict %}
                {{error_dict|json_script:"error_dict"}}
                <p class="mb-0">The following fields had errors:</p>
                <ul class="list-group ms-3">
                {% for field, err in error_dict.items %}
                    <li class="list-group-item-danger">{{field|title}}: {{err.0.message}}</li>
                {% endfor %}
                </ul>
            {% else %}
                <small>Check your inbox for a confirmation email</small>
            {% endif %}
            <hr class="m-2">
            <div class="list-group list-group-horizontal justify-content-end m-0 pe-3" style="width: 100%">
                <button class="btn btn-secondary" id="closebtn">Dismiss</button>
            </div>
        </div>
        <script>
            const contact_form_appurl = "{% url 'contact' %}"
        </script>
        <script src = "{% static 'sheetmusic/js/contact_submit.js' %}"></script>
    {% endif %}

    <div class="list-group list-group-horizontal align-items-center mt-2">
        <button class="btn btn-outline-primary border-0" id="request_btn">
            Commission Me
        </button>
        <div class="border-start-2 m-0 p-0" id="vert_line" style="height: 20px; border-left: 1.0px solid black"></div>
        <button class="btn btn-outline-primary border-0" id="feedback_btn" style="opacity: 0.65">
            Feedback/Questions
        </button>
    </div>
    <hr class="mt-2">

    <div class="container" id="feedback_div" style="display:none">
        <form action="{% url 'contact_submit' %}" method="post" class="justify-content-center">
        {% csrf_token %}
        <fieldset class="mb-4">
            <legend><h3>Contact Info</h3></legend>
            {% for field in fdbk_form.visible_fields|slice:":2" %}
            <div class="form-group">
                {{field.label_tag}}
                <div class="mb-2">{{field}}</div>
            </div>
            {% endfor %}
            <small class="form-text text-muted">Enter the email address that you want the response sent to</small>
        </fieldset>
        <fieldset class="mb-4" id="feedback_form">
            <legend><h3>Questions or Comments?</h3></legend>
            {% for field in fdbk_form.visible_fields|slice:"2:" %}
            <div class="form-group">
                {{field.label_tag}}
                <div class="mb-2">{{field}}</div>
            </div>
            {% endfor %}
        </fieldset>
        <input type="hidden" name="formtype" value="feedback">
        <input type="submit" value="Submit" class="btn btn-outline-primary" id="req_submit">
        </form>
    </div>

    <div class="container" id="request_div">
        <form action="{% url 'contact_submit' %}" method="post">
        {% csrf_token %}
        <fieldset class="mb-4">
            <legend><h3>Contact Info</h3></legend>
            {% for field in req_form.visible_fields|slice:":2" %}
            <div class="form-group">
                {{field.label_tag}}
                <div class="mb-2">{{field}} {{field.er}}</div>
            </div>    
            {% endfor %}
            <small class="form-text text-muted">Enter the email address that you want the response sent to</small>
        </fieldset>
        <fieldset class="mb-4" id="request_form">
            <legend><h3>Arrangement Request</h3></legend>
            {% for field in req_form.visible_fields|slice:"2:" %}
            <div class="form-group">
                {{field.label_tag}}
                <div class="mb-2">{{field}}</div>
            </div>
            {% endfor %}
        </fieldset>
        <input type="hidden" name="formtype" value="request">
        <input type="submit" value="Submit" class="btn btn-outline-primary" id="req_submit">
        </form>
    </div>

    <script src="{% static 'sheetmusic/js/contact_form.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>