<!DOCTYPE html>
<html lang="en">
{%load static%}
{%load sheetmusic_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aaron Teng music website, Computer Science & Music nerd. A cappella arrangements, original classical compositions">
  
    <title>Aaron Teng | Music Website</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'sheetmusic/css/styles.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.plyr.io/3.8.3/plyr.css" /> video/audio CSS plugin -->
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-sm bg-primary-subtle" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">(Logo Here)</a>
            <button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#site_navbar" aria-controls="site_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="site_navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primary-subtle" href="#">About Me</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-primary-subtle"  aria-current="page" href="#">A Cappella</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary-subtle" href="{% url 'contact' %}">Inquiries</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if checkoutsession_id %}
        <div class="alert" id="checkout_banner" style="display:none"> 
            <h4 class="alert-heading" id="banner_header"></h4>
            <p id="banner_text"></p>
            <hr class="p-1">
            <div class="list-group list-group-horizontal justify-content-between mt-2" style="width: 100%">
                <div class="list-group list-group-horizontal justify-content-start m-0 ps-3" id="checkout_confirm_btns" style="display: none">
                    <button class="btn btn-primary" id="downloadbtn">Download Again</button>
                    <button class="btn btn-primary" id="emailbtn">Re-send Email</button>
                </div>
                <div class="list-group list-group-horizontal justify-content-center m-0 pe-3">
                    <button class="btn btn-secondary" id="closebtn">Dismiss</button>
                </div>
            </div>
        </div>
        <script>
            const home_appurl = "{% url 'index' %}"
            //"session" in app urls.py. relative url: get_sesh_status?session_id={}. (for stripe)
            const sessionview_appurl = "{% url 'session' %}{% querystring session_id=checkoutsession_id %}"
        </script>
        <script src="{% static 'sheetmusic/js/checkout_confirm.js' %}"></script>
    {% endif %}

    {{ pdf_dict|json_script:"arr-pdf" }}

    <div class="album py-4">
        <div class="container">
            <div class="row">
            {% for arr in arrangements %}
                <div class="col-lg-4 col-md-6 col-sm-12"> <!--3cols lg screen, 2 cols md screen, 1 col sm-->
                    <div class="card mb-4 box-shadow rounded-4" id="canvas-card" data-bs-theme="light">
                        <a href="{% url 'sheet' arr.id %}" class="d-flex justify-content-center" >
                            <canvas class="small-canvas p-1" id="canvas-{{arr.id}}"></canvas>
                        </a>
                        
                        <div class="card-body bg-light rounded-bottom-4" data-bs-theme="light">
                            <div class="list-group list-group-horizontal justify-content-between mb-2">
                                <h5 class="list-group-item p-0 m-1 bg-light border-0 text-dark-emphasis" >{{arr.title}} - {{arr.artist}}</h5>
                                <p class="list-group-item p-0 m-1 bg-light border-0 text-dark-emphasis">Price: {{arr.price|convert_price}}</p>
                            </div>
                            <audio controls class="mb-2" style="width:100%">
                                <source src="{% static arr.mp3_path %}" type="audio/mp3"/>
                                Your browser doesn't support mp3 audio
                            </audio>
                            <a href="{% url 'sheet' arr.id %}" class="btn btn-primary btn-sm rounded-5">
                                View this arrangement
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/pdfjs-dist@latest/build/pdf.min.mjs" type="module"></script>
    <script src="{% static 'sheetmusic/js/index.js' %}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>